/* css for color, sound, udder */
body{
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.title{
    padding: 15px 30px;
    margin: 20px 0;
    background-color: lightgrey;
    border-radius: 8px;
}

.title h1{
    margin: 0;
    font-size: 24px;
    text-align: center;
}

.images{
    display: flex;
    gap: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.images img{
    max-width: 150px;
    height: auto;
    border-radius: 8px;
    
}

.continue{
    padding: 10px 20px;
    background-color: lightgrey;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.continue:hover{
    background-color: #d0d0d0;
}

/* css for color */
.color-header{
    background-color: lightgrey;
    padding: 8px 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
.option{
    display: flex;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
}
.option input[type="radio"]{
    display: none;
}

.radio-button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    background-color: lightgrey
}
.option input[type="radio"]:checked + .radio-button::after{
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background-color: #555;
    border-radius: 50%;
}
.option:hover .option-label{
    background-color: #c9c9c9;
}
.option-label{
    padding: 8px 20px;
    border-radius: 15px;
    background-color: lightgrey;
    transition: background-color 0.2s;
    font-size: 14px;
    width: 160px;
    text-align: center;
    transition: background-color 0.2s;
}
.header{
    background-color: lightgrey;
    padding: 8px 15px;
    border-radius: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
.button-container{
    margin: 20px 0;
    text-align: center;
}

/* css for necessary udder components */
.udder{
    position: absolute;
    right: 20px;
    top: 20px;
    height: 200px;
}
.arrow{
    position: absolute;
    top: 140px;
    left: 60px;
    width: 120px;
    height: 2px;
    background-color: #333;
    transform: rotate(15deg);
}
.arrow::after{
    content: "";
    position: absolute;
    right: -1px;
    top: -5px;
    width: 0;
    height: 0;
    border-left: 10px solid #333;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;

}
/*css for y n buttons */
.button-group{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.y-n-button{
    padding: 10px 20px;
    background-color: lightgrey;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s;
}
.y-n-button:hover{
    background-color: #c9c9c9;
    transform: scale(1.05);
}
.y-n-button.selected{
    background-color: #a0a0a0;
    font-weight: bold;
}