<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Is It A Cow?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>Maybe It's a Cow?</h1>
        </div>

        <div>
            <p><strong>Length:</strong> {{ length }} m</p>
            <p><strong>Width:</strong> {{ width }} m</p>
            <p><strong>Weight:</strong> {{ weight }} kg</p>
        </div>

        <div class="images">
            <img src="{{ url_for('static', filename='src/leftcow.jpeg') }}" alt="leftcow" class="leftcow">
            <img src="{{ url_for('static', filename='src/rightcow.jpeg') }}" alt="rightcow" class="rightcow">
        </div>

        <button class="continue" onclick="window.location.href='/landing'">Home</button>
    </div>
</body>
</html>
