<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Is It A Cow?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>It's Not a Cow!</h1>
        </div>

        <!-- Add Image2 right below the title -->
        <div class="image2">
            <img src="{{ url_for('static', filename='src/image3.png') }}" alt="Image2" class="image2">
        </div>

        <!-- Mike Wazowski Reference -->
        <p style="font-size: 1.2em; font-style: italic; text-align: center; margin-bottom: 20px;">
            "Put that thing back where it came from or so help me!" – <em>Mike Wazowski</em>
        </p>

        <div>
            <p><strong>Length:</strong> {{ length }} m</p>
            <p><strong>Width:</strong> {{ width }} m</p>
            <p><strong>Weight:</strong> {{ weight }} lbs</p>
        </div>

        <div class="images">
            <img src="{{ url_for('static', filename='src/leftcow.jpeg') }}" alt="leftcow" class="leftcow">
            <img src="{{ url_for('static', filename='src/rightcow.jpeg') }}" alt="rightcow" class="rightcow">
        </div>

        <button class="continue" onclick="window.location.href='/landing'">Home</button>
    </div>
</body>
</html>
