<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Is It A Cow?</title>
        <link rel="stylesheet" href="styles/style2.css">
    </head>
    <body>
        <div class = "container">
            <div class = "title">
                <h1>
                    Is It A Cow?
                </h1>
            </div>
            <div class="header">DOES IT MOO?</div>
            <div class="button-container">
                <div class="button-group">
                    <button class="y-n-button" id="yes-button">YES</button>
                    <button class="y-n-button" id="no-button">NO</button>
                </div>
            </div>
            
            <img src="src/udder.png" alt="udder" class="udder">
            <div class="arrow"></div>


            <div class = "images">
                <img src="../static/src/leftcow.jpeg" alt="leftcow" class="leftcow">
                <img src="../static/src/rightcow.jpeg" alt="rightcow" class="rightcow">
            </div>
            <button class='continue' onclick="window.location.href='{{ url_for('size') }}'">Continue</button>
        </div>
    </body>
</html>